/*  */

body {
	margin: 0; /* убираем отступы от краёв всей страницы*/
	background-color: #434343; /* цвет фона ы*/
	font-family: helvetica; /* семейство шрифтов */
}

header {
	margin: 0 0 0 0; /* убираем отступы от краёв шапки */
	background-color: #43e4b8; /* цвет фона */
	padding: 1% 0 0 5%;
	height: 10vh; /* работет как %, когда % не работают */

}

.storeGem {
	margin: 0 0 0 0; /*  внешние отступы */
	font-size: 30pt; /*  размер шрифта */
	color: #111111; /*  цвет шрифта */
}


/* родительский div для добавления продуктов на страницу. Можно и без него... но так положение удобней задавать */
#productsGem {
	margin: 7% 45% 7% 18%;  /* внешние отступы */
	color: #dcdcdc; /* цвет шрифта  */
}





.gemName {
	font-size: 19pt; /* размер шрифта  */
}

.gemImg {
	position: relative; /* позиция... релятивная  */
	display: block; /* отображаем как блочный элемент */
	width: 10%; /* ширина */
	left: 45%; /* отступ слева  */
}


.gemBlock{
	position: relative;
	display: block;
	border: 1px solid #434343; /* задаём рамку. Она впринципе не нужна, но так красивее  */
	border-radius: 10px;  /* скругление уголков  */
	padding: 0 10px 10% 10px; /* отступы */
	margin-bottom: 40px; /* отступ снизу  */
	background-color: #111111; /* цвет фона  */
}


.basketButton {
	position: absolute; /*  абсолютная позиция */
	right: 10px; /*отступ справа  */
	background-color: #111111; /*  цвет фона */
	font-family: helvetica; /*  семейство шрифтов */
	color: #dcdcdc; /* цвет шрифта  */
	border: 1px solid #43e4b8; /* рамка */
	height: 5vh;  /* тёмная магия */
	width: 19vh; 
} 

