body
{
    margin: 30px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #2255CC;
}

.head
{
    background: #CCD;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial";
    font-size: 20pt;
}
.containes
{
    background: #DDF;
    padding: 15px;
    border: solid 4px #CCD;
    font-family: "Courier";
    font-size: 14pt;
}
.drop-shadow.right {
    box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4)
}
.inline-link-1 {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    background: #97CAF2;
    border-radius: 2px;
    transition: all 0.3s ease-out; 
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
}
summary
{    
    padding: 12px;
}

blockquote
{
    text-align: right;
    font-style: oblique;
}
