body{

    background-image: url(../images/back.jpg);
    background-size:100%;
}
#page1
{

background-color: black;
}
#page1>img
{

    display: block;
    margin:40px  auto;
}
nav{
    text-align: center;
    background-color: antiquewhite;


}

.container>h1
{
    background-color: #003399;
    color: azure;
    text-align:center;

}
A:link	 	{
    color: #003399;
    text-decoration: underline	}
A:visited	{
    color:#003399;
    text-decoration: underline	}
A:hover		{
    color:#003399;
    text-decoration: none      }
.copy	 {
    font: 8pt/normal  Verdana, Arial, Helvetica,
    sans-serif;
    text-transform: super;
    text-decoration: none; color: #333333}
.copy1	 {
    font: bold 10pt/normal  Verdana, Arial, Helvetica, sans-serif;
    text-transform: super;
    text-decoration: none;
    color: #333333 }
.copy2	 {
    font: 9pt/normal  Verdana, Arial, Helvetica, sans-serif;
    text-transform: super;
    text-decoration: none;
    color: #333333 }

.container{
    font: 1em sans-serif;
    width:800px;
    min-height:500px;
    margin:auto;
     margin-top: 150px;
    border:1px solid #000;
    position: relative;
}
h1,h2,h3,h4,h5,h6 {margin: 0;}
.page{
    width:800px;
    height:440px;
    position: absolute;
    top:60px;
    display: none;
    background-color: #fff;
}
div:first-of-type{
    display:block;
    z-index: 1;
}
div:target{
    display:block;
    z-index: 2;
}


.button1 {

    padding:1px 32px;
    border:solid 1px #004F72;
    border-radius: 4px;
    font:19px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#3BA4C7;
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
}


body {
    background-color: black;
}
.actions {
    text-align: center;
}
.ai {
    background-image: url('../images/ai.jpg');
}
.container2 {
    margin: 50px auto;
    width: 300px;
}
.cell {
    background-color: white;
    border: 2px solid black;
    float: left;
    height: 96px;
    width: 96px;
}
.cell:hover {
    border-color: red;
}
.player {
    background-image: url('../images/player.jpg');
}

#krest
{
    text-align: center;
    margin-top: 20px;
}


#page4
body {
    font-size: 0.9em;
    font-family: verdana, arial, sans-serif;
    background-color: #FAEBD7;
}

#fon {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
    background-color: #fefefe;
    padding: 10px;
}

h2 {
    color: #444444;
    text-align: center;
}

td.help li {
    padding-bottom: 6px;
    font-size: 0.7em;
}

form>input {
    width: 265px;
    box-sizing: border-box
}
form>table {
    width: 265px;
    height: 245px;
}

td{
    text-align: center;
}
