* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #594c4a;
}

body{
  background-color: #008B8B ;
}
#cat{
  max-width: 256px;
  max-height: 256px;
}
.red{
  background-color: #FF3C40;
}


#clock {
  padding: 0;
  position: relative;
  list-style: none;
  height: 234px;
  width: 234px;
  display: block;
  float: right;
  background: url("http://www.charlesamoss.com/design/images/clock_wid/clockFace.svg") 5% center no-repeat;

}
.spisok{
  padding-left: 10px;
}
.msg{
  display:none;
}
#sec,
#min,
#hour {
  position: absolute;
  width: 24px;
  height: 234px;
  top: 0px;
  left: 102px;
}
.head{
  text-align: center;
  //font-style: oblique;
}

.center{
  text-align: center;
}

.back{
  background-color: white;
}
#GROUP{
  text-decoration: none;
  color:black;
  //font-size: 20px;
}
#name{
  text-align: center;
  margin-top:80px;
  color:black;
}
#sec {
  background: url("http://www.charlesamoss.com/design/images/clock_wid/sec.svg");
  z-index: 3;
}

#min {
  background: url("http://www.charlesamoss.com/design/images/clock_wid/min.svg");
  z-index: 2;
}

#hour {
  background: url("http://www.charlesamoss.com/design/images/clock_wid/hour.svg");
  z-index: 1;
}

.svg-cont {
  width: 100%;
  position: relative;
  overflow: hidden;
}

svg {
  width: 100%;
  transform: scale(1.7);
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #AFCDE7;
color: black;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}
.svag {
  width: auto;}
