@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

h1
{
   font: inherit;
  font-size: 70px;
  text-align: center;
  color: #121;
  letter-spacing: 25px;
  line-height: 1.4em;
  text-transform: uppercase;
  text-shadow: 8px 4px 4px #aaa;
  margin-bottom: 0;
}

h2
{
   font: inherit;
  font-size: 70px;
  text-align: center;
  color: #121;
  letter-spacing: 25px;
  line-height: 1.4em;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px #aaa;
  margin-bottom: 0;
}
.bo{
  border: 5px  double #112;
  border-radius: 35px;
  text-align: center;
  margin: auto;
  width: 1000px;
}
