@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

h1
{
   font-family: 'Capture it', arial;
  font-size: 70px;
  text-align: center;
  color: #121;
  letter-spacing: 25px;
  line-height: 1.4em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.font-effect-blood {
        font-family: 'Capture it', Arial;
        font-size: 48px;
      }
/*.ssiixx {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #777;
  background: #fff;
}
