html 
{ 
  height: 100%;
}
body 
{	
  height: 100%;	
  background: linear-gradient(to left, #1E90FF 30%, #00BFFF 50%);
}
h1 
{	
  font-family: Almendra Display, 'Regular';
  font-size: 3.5em;
  color: gold;
  position: center;
}
