html 
{ 
  height: 120%;
}
body 
{	
  height: 100%;	
}
h1 
{	
  font-family: fantasy, 'Almendra Display';
  font-size: 3.5em;
  color: yellow;
  text-align: right;
  margin: 0px 0px 100px 400px;
}
h3 
{	
  font-family: fantasy, 'Almendra Display';
  font-size: 3em;
  height: 40px;
  color: pink;
  text-align: center;
  border: 3px dashed #fff;
  padding: 5px;
  margin: 5px 400px 0px 400px;
  border-radius: 5px;
}
li
{
	text-align: left;
}
