table{
border:1px solid black;
border-collapse: collapse;
padding: {1, 4}
}
td, th{
border:1px solid black;
}
td{
padding: 10px 5px;
}
tr{ 
background: Gold;
}
body {
background: Aquamarine;
}
img {
}
