.animo {
    background: url('img/Jelly1.jpg') no-repeat center;
	margin-bottom: 7px ;
}
.bground{
    background: url('img/back.jpg') no-repeat center;
	
}
   .left-column {
    width: 46%;
    min-height: 560px;
    background: url('img/complete_left.jpg') ;
    float: left;
    font-size: 20px;
    }

    .right-column {
    width: 46%;
    min-height: 560px;
     background: url('img/complete_right.jpg') ;
    float: right;
	font-size: 20px;
	
    }

    .footer {
    clear: both;
    }

    .footer-2 {
      background-color: lightgray;
      clear: both;
    }
h1 { 
    font-size: 200%; 
    font-family: Impact, Helvetica, sans-serif; 
    color: brown; 
	
   }
   h2 { 
    font-size: 150%; 
    font-family: Verdana, TimesNewRoman, Helvetica, sans-serif;      
	
   } 
  
   div {
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
    background-color: clear;
   }
