p{
  font-size: 20;
}

ol{
  font-size: 20;
}

ol{
  font-size: 20;
}

canvas {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}

#text {
  z-index: 2;
  position: absolute;
  text-align: center;
}

li { list-style-type: none; }
ol { counter-reset: list1; }
ol li:before {
  counter-increment: list1;
  content: counter(list1) ". ";
}
ol ol { counter-reset: list2; }
ol ol li:before {
  counter-increment: list2;
  content: counter(list1) "." counter(list2) ". ";
}

a{
  color: black;
}

.labs{
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.lab1{
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
  width: 33%;
  min-width: 320;
}

.lab2{
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
  width: 33%;
  min-width: 320;
}

.lab3{
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
  width: 33%;
  min-width: 320;
}
