#tetriscanvas {
 display: block;
 border: 1px solid black;
}
#tetris {
 margin: 0 auto;
 width: 480px; 
 height: 600px; 
 text-align: center;
 clear: both;
}
#tetrisleft {
 width: 300px;
 min-width: 300px;
 height: 600px; 
 float: left; 
 margin: 0px; 
}
#tetrisright {
 width: 180px; 
 min-width: 180px;
 height: 600px; 
 float: left; 
 margin: 0px;
}
.clear {
 clear: left; 
}
.info {
 text-align: left;
 margin-left: 24px;
}
