    body{
    background-image: url(../source/image/fon.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
   }

    .layer1{
    background-image: url(../source/image/texture.jpg);
    border: 1px solid #B25538;
    padding: 10px;
    margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
   }

    .layer2{
    background-image: url(../source/image/texture1.png);
    padding: 10px;
    margin: 20px;
    margin-left: 600px;
    width: 200px;
    height: 200px;
    text-align: right;
   }
