p{
 /*color: blue;*/
  font-size: 24px;
  font-family: "Verdana";
  font-style: italic;
  text-indent: 1.25cm;
  text-align: left;
}

#main{
  width: 75%;
  margin: auto;
  background: url(https://stankin.github.io/inet-2017/idm-17-02/Tarasov/css/img/123.jpg) no-repeat center;
  height: 100%;
  padding: 10px
}

div #knopka{
  background:cyan;
  border: 2px solid blue;
  box-shadow: 3px 3px 5px black;
  text-align: center;
  transition: all 0.5s linear;
}

div #knopka:hover{
  border: 4px solid red;
}

*{
font-family: Meiryo;
}

div .zadanie

#div1{
 background: linear-gradient(90deg,red,blue);
 width: 100px;
 height: 75px;
 float: left;
 overflow: auto;
 border: 2px solid green;
 border-radius:5px 15px 30px 60px;
 box-shadow: 3px 3px 2px #000;
 margin: 15px;
 padding: 5px 10px 50px 10px;
}

#div2{
 background: #AAAABF;
 background-color: #AAAABF;
 width: 75px;
 height: 75px;
 float: right;
 overflow: auto;
 border-radius:15px 0px 0px 0px;
 box-shadow: 3px 3px 2px #000;
 margin: 5px 25px 25px 5px;
 box-shadow: 3px 3px 2px #000;
 margin-left: 15px;
}
