* {
	margin: 0;
	padding: 0;
}

h2 {
	margin-bottom: .5em;
	text-align: left;
}

h3 {
	margin: 0.5em 0;
}

html {
height: 100%;
}

body {


font-family: 'Roboto', sans-serif;
	font-size: 16px;
  background-color: #000;
}

header {
	width: 100%;
	height: 100vh;
	min-height: 480px;
	background: url("img/main-screen.jpg") 50% fixed no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.heading {
	text-align: center;
	position: relative;
	z-index: 10;
}

.goto {
	text-decoration: none;
	color: #fff;
	padding: 10px 25px;
	border: 2px solid #fff;
	display: inline-block;
	margin-top: 30px;
}

.goto:hover {
	background: #fff;
	color: #000;
}

nav {
  width: 621px;
  margin: 0 auto 30px;
}

#map {
        height: 500px;
        width: 75%;
	margin: 0 auto;
 }

#content-window {
  color:red;
  float: left;
  font-family: 'Roboto','sans-serif';
  height: 100%;
  line-height: 30px;
  padding-left: 10px;
  width: 19%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Menu > li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}

a {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: white;
  box-shadow: 1px 3px 25px #07007A;
  border-radius: 10px;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

li {
  color: #fff;
  font-size: 15px;
}

p {
  color: #fff;
}

 map {
        height: 400px;
        width: 100%;
 }

.Submenu {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: -5px 3px 25px #00008B;
  border-radius: 10px;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
text-align: center;
}

.Menu li:hover .Submenu {
	display: block;
	}

.Submenu > li > a {
background-color: #00008B;
color: white;
}


.wrapper {
	background: url('3.jpg') no-repeat center;
	margin: 0 auto;
	height: 600px;
	width: 400px;
	border: 2px solid #666;
	position: relative;
}

.wrapper1 {
  background: url('4.jpg') no-repeat center;
  margin: 0 auto;
  height: 600px;
  width: 400px;
  border: 2px solid #666;
  position: relative;
}
.wrapper2 {
  background: url('5.jpg') no-repeat center;
  margin: 0 auto;
  height: 600px;
  width: 400px;
  border: 2px solid #666;
  position: relative;
}
.wrapper3 {
  background: url('6.jpg') no-repeat center;
  margin: 0 auto;
  height: 600px;
  width: 400px;
  border: 2px solid #666;
  position: relative;
}
.wrapper4 {
  background: url('7.jpg') no-repeat center;
  margin: 0 auto;
  height: 600px;
  width: 400px;
  border: 2px solid #666;
  position: relative;
}

.door {
	background: url('2.jpg');
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: right 0.3s linear 0s;
	border: 2px solid #666;
}
.door:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #422d15;
	top: 50%;
	right: 10px;
}
.label-door {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20;
	right: 0;
	-moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}
.door.opened {
	right: 80%;
}
input {
    margin-top: auto;
}


.modal {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: auto;
}
.modal-body {
  position: relative;
  padding: 30px;
  box-shadow: 3px 3px 10px  rgba(0,0,0,.3);
  z-index: 10;
  background-color: #fff;
  line-height: 1.5;
}
.modal-opened {
  display: block;
  z-index: 10;
}
.modal-opened::after {
  content: "";
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0,0,0,.85);
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999;
  cursor: pointer;
}
.true {
  color: green;
}
.false {
  color: red;
}
.resultat{
  color: black;
}
.menus {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: white;
  box-shadow: 1px 3px 25px #07007A;
  border-radius: 10px;
  background-color: #0047AB;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.otvet{
	text-decoration: none;
	color: #000;
  background-color: #fff;
	padding: 7px 15px;
	border: 2px solid #000;
	display: inline-block;
	margin-top: 15px;
}

.otvet:hover {
	background: #000;
	color: #fff;
}

.vse {
	margin: 0 auto;
	text-align: center;
}

#narnia{
text-align:center;
}
