#imCartContainer { text-align: left; padding: 0 0 30px 0; }
#cartLoading { text-align: center; display: block; margin-top: 30px; }
#imCartContainer > p { margin: 15px 8px 15px 8px; }
@media  (max-width: 719px) {
	#imCartStepsBanner { display: none; }
}
.cartTable, .cartTable td, .cartTable td p { font: inherit; }
.cartTable { width: 90%; margin: 15px auto 15px auto; border-collapse: separate; }
#imCartContainer input[type=button] { height: auto; padding: 5px; }
.cartTable thead td, .cartTable td.head, .cartTable .button { background-color: #800000; color: #FFFFFF; border-width: 0 1px 1px 0; border-style: solid; border-color: #D3D3D3; padding: 5px; }
#imCartContainer input[type=button] { cursor: pointer; }
.cartTable a.button:link, .cartTable a.button:hover, .cartTable a.button:visited { display: inline-block; text-decoration: none; color: #FFFFFF; }
.cartTable td { background-color: #FFFFFF; color: #000000; padding: 8px; border-width: 0 1px 1px 0; border-style: solid; border-color: #D3D3D3; }
.cartTable .nostyle, .cartTable .nostyle, .cartTable .nostyle { background-color: transparent; color: #000000; padding: 5px; border: none; }
.cartTable td input { height: 15px; }.cartTable p { margin-bottom: 5px; }
#imCartContainer .cartTable input[type=text], #imCartContainer .cartTable select { border-radius: 0px; box-shadow: none; border-color: #000000; background-color: #FFFFFF; color: #000000; }
#imCartContainer .cartTable select { font: normal normal normal 10pt 'Tahoma'; text-align: left; text-decoration: none;  }
#imCartContainer .cartTable input[type=text] { padding: 2px; }
.cartTable .odd { background-color: #F0F0F0; }
.cartTable .odd input[type=text], .cartTable .odd select { background-color: #FFFFFF; }
.cartTable thead td, .cartTable .first-y { border-top: 1px solid #800000; }
.cartTable tfooter td, .cartTable .last-y { border-bottom: 1px solid #800000; }
.cartTable .first-x { border-left: 1px solid #800000; }
.cartTable .last-x { border-right: 1px solid #800000; }
.first-x.first-y, thead .first-x { border-top-left-radius: 2px; }
.last-x.first-y, thead .last-x { border-top-right-radius: 2px; }
.first-x.last-y { border-bottom-left-radius: 2px; }
.last-x.last-y { border-bottom-right-radius: 2px; }
@media (min-width: 719px) {
	#imCartContainer .dynamic-width { width: 15%; }#imCartContainer .min-width { min-width: 130px; }#imCartContainer .min-width-small { min-width: 80px; }#imCartContainer .mobile-hide { display: block; }#imCartContainer td.mobile-hide, #imCartContainer th.mobile-hide { display: table-cell; }#imCartContainer .mobile-show { display: none; }#imCartContainer select { max-width: 150px; }
}
@media  (max-width: 719px) {
	#imCartContainer .dynamic-width { width: 30.5%; }#imCartContainer .mobile-hide { display: none; }#imCartContainer .mobile-show { display: block; }#imCartContainer td.mobile-show, #imCartContainer th.mobile-show { display: table-cell; }#imCartContainer .invisible { display: none; }#imCartContainer .mobile-small { font-size: 0.85em; opacity: 0.8; }#imCartContainer .mobile-65-5 { width: 65.5%; }#imCartContainer .mobile-61-5 { width: 61.5%; }#imCartContainer select { max-width: 80px; }
}
.cartTable .invisible { border: none; background-color: transparent; }
#imCartContainer .buttons-container { text-align: center; margin: 10px 0 0 0; }
#imCartContainer .buttons-container input { margin: 0 2px; }
#imCartContainer input[type=text], #imCartContainer textarea, #imCartContainer .userForm select { padding: 5px; }
#imCartContainer .userForm select { width: 62%; max-width: initial; }#imCartContainer .userForm input[type=text], #imCartContainer .userForm textarea { width: 60%; }
#imCartContainer .userForm td { vertical-align: middle; padding: 2px 5px; }
#imCartContainer .userForm caption { font-weight: bold; margin-bottom: 10px; }
#imCartContainer .userForm label { display: block; width: 100%; text-align: right; }
#imCartContainer .userForm { width: 100%; }
#agreement-text { padding: 0 10px; margin: 20px auto; font: inherit; color: inherit; }
#chk-agreement { margin-left: 0; }
#imCartContainer .order-number { text-align: center; margin: 0 auto; width: 50%; font-weight: bold; background-color: #800000; color: #FFFFFF; border: 1px solid #D3D3D3; padding: 5px; }
#payment-html { text-align: center; }
