body {
    background-image: url(../images/spiration-light.png);
}

p {
    text-align: center;
    color: DarkBlue;
    font-size: 22px;
    font-family: Segoe UI Light;
    font-style: italic;
    font-weight: bold;

}
.one{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    background: #fff;
    padding: 30px;
    border: 1px solid #e2e2e2;
    margin-top: 30px;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

h1 {
    text-align: center;
    color: DodgerBlue;
    font-size: 28px;
    font-family: Segoe UI Light;
    font-style: italic;
    font-weight: bold;

}

h2 {
    text-align: center;
    color: DarkBlue;
    font-size: 28px;
    font-family: Segoe UI Light;
    font-style: italic;
    font-weight: bold;
}

ul {
    text-align: left;
    color: black;
    font-size: 18px;
    font-family: Segoe UI Light;
    font-style: italic;
    font-weight: bold;
}

h3 {
    text-align: center;
    color: #191970;
    font-size: 22px;
    font-family: Segoe UI Light;
    font-style: italic;
    font-weight: bold;

}

button.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 37px;
    font-family: Segoe UI Light;
    font-style: italic;
    transition: 0.4s;
    border-bottom: 2px solid #cecece;
}

button.accordion.active,
button.accordion:hover {
    background-color: #efefef;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}
