body {
    background-color: #CCCCFF;
	padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
    color : #003366;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

div {
    width: 400px; 
    background: #6666FF;
    padding: 15px;
    padding-right: 20px; 
    border: solid 1px black;
}

.text {
    width: 800px; 
    background: #66CC99;
    padding: 10px;
    padding-right: 50px; 
    border: solid 2px black;
}