

body {
    background: url("hqdefault.jpg"); 
    background-size:contain;
color: WhiteSmoke;     
   }


table{

border:1px solid black;
border-collapse:collapse;
}

th{

border:1px solid black;
}

td{

border:1px solid black;
padding: 4px 2px;
}

img{

height: 500px;

width: 400px;
display: inline-block;
}

.img {
text-align:center;
}