table {
border: 1px solid black;
border-collapse: collapse;
}

td {
border: 1px solid black;
padding: 4px 2px;
}

span {
font-weight: bold;
color: white;
}

tr:first-child {
font-weight: bold;
}

img {
width: 200px;
height: 150px;
display: block;
margin: 0 auto;
}

body {
background-image: url(pexels-photo-55787.jpeg);
background-size:cover;
}

tr {
background: white;
}

.centr {
max-width: 938px;
}

li {
color: white;
list-style-type: none;
}

h1 {
color: white;
}

p {
color: white;
}

ol {
counter-reset: list1;
}

ol li:before {
counter-increament: list1;
countent: counter(list1) ". ";
}

ol ol {
counter-reset: list2;
}

ol ol li:before {
counter-increment: list2;
content^ counter(list1) "." counter(list2) ". ";
}