body {
transform: scale (1.5);
}

table {
border: 1px solid black;
border-collapse: collapse;
}

td {
border: 1px solid black;
padding: 4px 2px;
}

span {
font-weight: bold;
color: white;
}

tr:first-child {
font-weight: bold;
}

img {
width: 400px;
height: 350px;
display: block;
margin: 0 auto;
}

body {
background-image: url(1234567.svg);
background-size:cover;
}

tr {
background: white;
}

.centr {
max-width: 938px;
margin: 0 auto;
}

li {
color: white;
list-style-type: none;
}

h1 {
color: white;
}

p {
color: white;
}

h2 {
color: white;
}

ol li {
list-style-type: decimal;
}

a:visited {
  color: #fff;
}

a:hover {
color: #000;
}
