.header{
	width: 25%;
	background-color: #b3ffd9;
	padding: 20px;
	opacity: 0.8;
	text-align: right;
}
#pheader{
	font-size: 25px;
	font-family: 'Tahoma';
	font-style: italic;
}
.theader{
	width: 60%;
}
.idm_user{
	display: inline-block;
	background-color: #FFFEC6;
	border: 2px inset black;
	font-size: 35px;
	font-family: 'Verdana';
	text-align: center;
}
body{
	background-image: url(b.png);
}