.avatar {
	text-align: center;
	position: relative;
	top: 10px;
	}


.menu{
text-align: center;
font-size: 20px;
font-family: Verdana;
font-style: italic;
background-image:url(81221d1.jpg);
position: fixed;
width:100%;
z-index: 100;
top: 0px;

}

#AAA{
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	color: black;
	background: linear-gradient(to left, GreenYellow, DeepSkyBlue);
}

#AAB{
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	color: black;
	background: linear-gradient(to left, PeachPuff, Thistle);
}


.AAC{
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	color: black;
}

#ADD{
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	color: black;
	background: linear-gradient(to left, GreenYellow, DeepSkyBlue);
	text-decoration: none;
}

.menu>a{

text-decoration: none;
color: white;
}	
	
	
#main_1>a{
text-decoration: none;
color: black;
}

#main_1>a:hover { 
					text-decoration: underline;  
					color: green;
			}

#main_1{
	text-decoration: none;
	background-color: BlanchedAlmond;
	border: 5px solid DarkSlateGray;
	width: 50%;
	height: auto;
	margin: -105px auto 10px;	
	text-align: center;
	background-clip:content-box;
	position: relative;
	padding-top: 100px;
	border-top: none;
	border-bottom: none;
}

#main_2>a{
text-decoration: none;
color: black;
}

#main_2>a:hover { 
					text-decoration: underline;  
					color: green;
			}

#main_2{
	text-decoration: none;
	background-color: BlanchedAlmond;
	border: 5px solid DarkSlateGray;
	width: 50%;
	height: auto;
	margin: -20px auto;
	text-align: center;
}	

#main_3>a{
text-decoration: none;
color: black;
}

#main_3>a:hover { 
					text-decoration: underline;  
					color: green;
			}

#main_3{
	text-decoration: none;
	background-color: BlanchedAlmond;
	border: 5px solid DarkSlateGray;
	width: 50%;
	height: auto;
	margin: -10px auto;
	text-align: center;
}	

#main_4>a{
text-decoration: none;
color: black;
}

#main_4>a:hover { 
					text-decoration: underline;  
					color: green;
			}

#main_4{
	text-decoration: none;
	background-color: BlanchedAlmond;
	border: 5px solid DarkSlateGray;
	width: 50%;
	height: auto;
	margin: -10px auto;
	text-align: center;
}	


.begin{
	color: black;
	border: 5px solid DarkSlateGray;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-family: Consolas;
	box-shadow: 0px 0px 25px black;
	background: linear-gradient(to top left, LightBlue, LightSteelBlue);
	width: 50%;
	height: auto;
	margin: 100px auto 5px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.begin:hover{
color: green;
transition-duration:2s;	 
 }

.gradient{
background:linear-gradient(to top left, White, LightBlue);

}

.lab1{
	font-size: 20px;
	font-weight: normal;
	text-align: justify; 
}
	
#main_1>.lab>ol>.knopka{
 font-family: Haettenschweiler;
 font-size: 20px;
 position: relative;
 left: 710px;
 right: 0px;
 bottom: 0px;
 height: 30px;
 border-color: black;
 border-style: solid;
 border-width: 1px;
 border-radius: 5px;
 background: MediumAquamarine;
 cursor: pointer;
 }
 
 #main_1>.lab>ol>.knopka:active
 {
 background: Violet;
 border-color: black;
 border-style: solid;
 border-width: 1px; 
 }
 
 #main_2>.lab>ol>.knopka{
 font-family: Haettenschweiler;
 font-size: 20px;
 position: relative;
 left: 710px;
 right: 0px;
 bottom: -5px;
 height: 30px;
 border-color: black;
 border-style: solid;
 border-width: 1px;
 border-radius: 5px;
 background: MediumAquamarine;
 cursor: pointer;
 }
 #main_2>.lab>ol>.knopka:active
 {
 background: Violet;
 border-color: black;
 border-style: solid;
 border-width: 1px; 
 }
 
 
 #main_3>.lab>ul>.knopka{
 font-family: Haettenschweiler;
 font-size: 20px;
 position: relative;
 left: 710px;
 right: 0px;
 bottom: -15px;
 height: 30px;
 border-color: black;
 border-style: solid;
 border-width: 1px;
 border-radius: 5px;
 background: MediumAquamarine;
 cursor: pointer;
 }
 #main_3>.lab>ul>.knopka:active
 {
 background: Violet;
 border-color: black;
 border-style: solid;
 border-width: 1px; 
 }

 
 
 #digital_watch{
 position: relative;
 text-align: right;
 font-size: 30px;
 font-weight: bold;
 top: 120px;
 z-index: 10000;
 }
 
#digital_watch:hover{
color: red;
transition-duration:2s;	 
 }
 
 #digital_watch:after{
	 transition-duration:2s;
 }
