.header{
	width: 55%;
	background-color: #b3ffd9;
	padding: 20px;
	opacity: 0.8;
	text-align: right;
}
#pheader{
	font-size: 25px;
	font-family: 'Tahoma';
	font-style: italic;
	font-family: 'Verdana';
}
.theader{
	width: 60%;
}
.sq{
	border: 4px inset black;
	margin: 5px;
	padding: 5px;
	
}
.aname{
	font-size: 11px;
	font-family: 'Tahoma';
	font-style: italic;
}
.qtext{
	font-size: 15px;
	font-family: 'Tahoma';
	font-style: italic;
}
body{
	background-image: url(b.png);
}