.laba1
{
    width: 400px;   
    border: 4px double black;
    padding: 5px;
    padding-right: 20px;    
    float: left;;}
.laba2
{ 
    width: 400px;   
    border: 4px double black; 
    padding: 5px;
    padding-right: 20px;    
    float: left;
   }
.laba3
{ 
    width: 400px; 
    border: 4px double black;  
    padding: 5px;
    padding-right: 20px;     
    float: left;
   }