*{
	font-size:18px;
	font-family:serif,arial,verdana;
}

body{
	width:100%;
	padding:0;
	margin:0;
	background:linear-gradient(to right,#A4A4A4 20%,#610B0B 50%);
}
#back-banner-box{
	position:fixed;
	width:160px;
	padding:4px;
	border:4px dotted;
	border-color:black;
	margin:20px;
	background:#0000FF;
	box-shadow: 20px;
	border-radius:15px 15px 15px 15px;
	opacity:0.7;
	filter:alpha(opacity=70);/*IE8 earlier */
}
#back-banner{
	color:black;
	font-size:15px;
	font-style:italic;
	transform:rotate(0deg);
	transition: all 0.25s linear;
	line-height:30px;
}
#back-banner:hover{
	background:#F2F2F2;
	transition:all 0.45;
}
h1{
	font-size:1.5cm;
	color:blue;
	text-align: center;
}
h2{
	font-size:1.25cm;
	font-style:italic;
	color:blue;
	text-align: center;
}
h3{
	font-size:0.8cm;
}
h4,h5{
	font-size:0.5cm;
}
#avatar{
	float:left;
	margin:10px;
	width:100px;
	height:100px;
	border-radius:50% 50%;
	background:url("https://static.pexels.com/photos/128458/pexels-photo-128458.jpeg");
	background-size:100%;
	border: 1px groove #585858;
}
#nav{
	width:100%;
	height:100px;
	border-radius: 8px 8px 8px 8px;
	background:#8181F7;
	background-size:cover;
	font-family:arial,sans-serif;
	opacity:0.7;
	filter:alpha(opacity=70);/*IE8 earlier */
}
#nav-header{
	margin-left:auto;
	margin-right:auto;
	height:100px;
	width:700px;
	margin-top:10px;
}
#nav-header ul li{
	list-style:none;
	display:inline;
	font-weight:bold;
	padding:5px;
}
#nav-header a{
	color:white;
	text-decoration:none;
	padding:10px;
}
#nav-header ul li:hover{
	background:black;
	transition:all 0.45s;
}
#wrapper{
	width:80%;
	min-width:640px;
	max-width:800px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	border:3px groove #BDBDBD;
	border-radius:10px 10px 10px 10px;
	padding-top:50px;
	padding-bottom:20px;
	background:#CEF6E3;
}
h3, h4 {
	margin: 5px;
	color: #FE2E2E;
	text-align: center;
	font-style:oblique;
}
h5{
	text-align: left;
	text-indent: 10px;
	font-style:italic;
}

h4::before {
	content: '"';
}

h4::after {
	content: '"';
}
p{
	padding:10px;
	margin:10px 0 10px 0;
	text-align:justify;
	color:#61210B;
}
.msg {
  position: relative;
  overflow: hidden;
  max-width: 800px;
  opacity: 1;
  transform: translate(0, 0);
  border-left: 2px dotted #DF013A;
  border-right: 2px dotted #DF013A;
  border-bottom: 2px dotted #DF013A;
  border-top: 2px dotted #DF013A;
  background-color: #F2F2F2;
}
.msg p {
  color: #0101DF;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 0 20px;
  font-style:italic;
}

