body {
  background: url('../source/images/back.jpg') no-repeat;
  background-size: cover;
}

  .wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

    .header {
      font-weight: bold;
      margin-top: 40px;
      color: #FFF;
      text-align: center;
      margin-bottom: 25px;
      text-shadow: 3px 3px 1px grey;
    }

      .header h1 {
        display: inline-block;
        font-size: 4rem;
      }

    table{
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        background: #fff;
    }
      thead tr {
        background: -moz-linear-gradient(top, rgba(125,185,232,0.7) 13%, rgba(125,185,232,0.71) 16%, rgba(41,137,216,0.84) 55%, rgba(41,137,216,0.85) 57%, rgba(32,124,202,0.85) 58%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(125,185,232,0.7) 13%,rgba(125,185,232,0.71) 16%,rgba(41,137,216,0.84) 55%,rgba(41,137,216,0.85) 57%,rgba(32,124,202,0.85) 58%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(125,185,232,0.7) 13%,rgba(125,185,232,0.71) 16%,rgba(41,137,216,0.84) 55%,rgba(41,137,216,0.85) 57%,rgba(32,124,202,0.85) 58%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
      }
        tr:nth-child(2n ) {
          background: #eee;
        }
        th {
          text-align: left;
        }
          th div{
            cursor: pointer;
            padding: 20px 0;
            font-weight: bold;
            color: #fff;
            padding-left: 20px;
          }

            .sorting_asc div{
              background: url(../source/images/sort_asc.png) no-repeat;
              background-position-y: center;
            }
            .sorting div{
                background: url(../source/images/sort_both.png)no-repeat;
                background-position-y: center;
            }

            .sorting_desc div{
                background: url(../source//images/sort_desc.png)no-repeat;
                background-position-y: center;
            }

        td {
          padding: 10px
        }

        thead tr:first-child:hover {
           background: -moz-linear-gradient(top, rgba(125,185,232,0.7) 13%, rgba(125,185,232,0.71) 16%, rgba(41,137,216,0.84) 55%, rgba(41,137,216,0.85) 57%, rgba(32,124,202,0.85) 58%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(125,185,232,0.7) 13%,rgba(125,185,232,0.71) 16%,rgba(41,137,216,0.84) 55%,rgba(41,137,216,0.85) 57%,rgba(32,124,202,0.85) 58%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(125,185,232,0.7) 13%,rgba(125,185,232,0.71) 16%,rgba(41,137,216,0.84) 55%,rgba(41,137,216,0.85) 57%,rgba(32,124,202,0.85) 58%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
        }

        tr:hover {
          background: #c5f5ec;
        }

         td a {
          color: #000;
          text-decoration: none;
          display: inline-block;
          border-bottom: 1px solid black;
          }
            td a:hover {
              color: #5CCCCC;
              border: none;
            }
