<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper">
               <div class="container">
                <a internal href="{{ site.baseurl }}/" class="brand-logo"><i class="mdi-communication-chat"></i> {{site.title}}</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="{{ site.baseurl }}/">Главная</a>
                    </li>
                    <li><a href="https://github.com/stankin/inet-2017/tree/master/idm-17-05/Panfilkin_A_A">Исходный код</a>
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
            </div>
        </nav>
    </div>
</header>
